<nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-3 mb-5  rounded ">

  <img [src]="imageLogo" width="60" height="60" class="d-inline-block align-top" alt="" />

  <h1 class="navbar-brand"> IF STUDIES  </h1>

  <button class="navbar-toggler justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a routerLink="" class="nav-link active"  title="Home">Home <span class="sr-only">(Página atual)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="/disciplinas" class="nav-link active" title="Disciplinas">Disciplinas</a>
      </li>
      <li class="nav-item">
        <a routerLink="/exercicios" class="nav-link active" title="Exercícios">Exercícios</a>
      </li>
      <li class="nav-item">
        <a routerLink="/simulados" class="nav-link active" title="Simulados">Simulados</a>
      </li>
      <li class="nav-item">
        <a routerLink="/sobre" class="nav-link active" title="Sobre o IF">Sobre o IF</a>
      </li>
    </ul>
  </div>

</nav>