<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">


    <!--
    <h1 class="logo mr-auto"><a href="index.html">IF STUDIES</a></h1> -->
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li><a routerLink="/" class="nav-link active">Home</a></li>
        <li><a routerLink="/sobre" class="nav-link active">Sobre</a></li>
        <li><a routerLink="/disciplinas" class="nav-link active">Disciplinas</a></li>
        <li><a routerLink="/desenvolvedores" class="nav-link active">Desenvolvedores</a></li>
        <li><a routerLink="/procseletivo" class="nav-link active">Processos seletivos</a></li>
        <li class="drop-down"><a class="nav-link active">Exercícios</a>
          <ul>
           
           
           
            <li><a routerLink="/exercicios">Português</a></li>
            <li><a routerLink="/exerciciosmat">Matemática</a></li>
            <li><a href="#">Redação</a></li>
          </ul>
        </li>
        <li><a routerLink="/simulados" class="nav-link active">Simulados</a></li>
        
       
       

      </ul>
    </nav><!-- .nav-menu -->

  

  </div>
</header><!-- End Header -->