<div class="container">
      
      <div class="row">
              <div class="col-sm">
                <h4 class="text-center">Quais cursos têm disponíveis?</h4>
                <p>O IFRN possui atualmente para o ensino médio técnico integrado cerca de 34 cursos distribuídos por seus campis. São cursos cujo candidato aprovado cursará, juntamente com o ensino médio, o curso técnico escolhido.</p>

                <p>Abaixo segue cada campi com seus cursos disponíveis ofertados.</p>
              </div>
      </div>


      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <img class="img-fluid" src="assets/APODI.jpg">
            </div>
            <div class="col texto">
              <h4>Campus Apodi</h4>
              <ul>
                <li>Agropecuária</li>
                <li>Biocombustíveis</li>
                <li>Informática</li>
                <li>Manutenção e Suporte em Informática</li>
                <li>Química</li>
                <li>Zootecnia</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title text-center">Campus Caicó</h2>
          <ul>
            <li>Eletrotécnica</li>
            <li>Informática</li>
            <li>Têxtil</li>
            <li>Vestuário</li>
          </ul>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title text-center">Campus Canguaretama</h2>
          <ul>
            <li>Eletromecânica</li>
            <li>Eventos</li>
            <li>Informática</li>
          </ul>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title text-center">Campus Ceará-Mirim</h2>
          <ul>
            <li>Equipamentos Biomédicos</li>
            <li>Informática</li>
            <li>Programação de Jogos Digitais</li>
          </ul>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title text-center">Campus Currais Novos</h2>
          <ul>
            <li>Alimentos</li>
            <li>Informática</li>
            <li>Manutenção e suporte em informática</li>
          </ul>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title text-center">Campus Ipanguaçu</h2>
          <ul>
            <li>Agroecologia</li>
            <li>Informática</li>
            <li>Meio Ambiente</li>
          </ul>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title text-center">Campus João Câmara</h2>
          <ul>
            <li>Administração</li>
            <li>Cooperativismo</li>
            <li>Eletrotécnica</li>
            <li>Informática</li>
          </ul>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title text-center">Campus Lajes</h2>
          <ul>
            <li>Administração</li>
            <li>Informática</li>
          </ul>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title text-center">Campus Macau</h2>
          <ul>
            <li>Informática</li>
            <li>Química</li>
            <li>Recursos Pesqueiros</li>
          </ul>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title text-center">Campus Mossoró</h2>
          <ul>
            <li>Edificações</li>
            <li>Eletrotécnica</li>
            <li>Informática</li>
            <li>Mecânica</li>
          </ul>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title text-center">Campus Natal- Central</h2>
          <ul>
            <li>Administração</li>
            <li>Controle Ambiental</li>
            <li>Edificações</li>
            <li>Eletrotécnica</li>
            <li>Geologia</li>
            <li>Geologia e Mineração</li>
            <li>Informática</li>
            <li>Informática para Internet</li>
            <li>Manutenção e Suporte em Informática</li>
            <li>Mecânica</li>
            <li>Mineração</li>
          </ul>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title text-center">Campus Natal – Cidade Alta</h2>
          <ul>
            <li>Lazer</li>
            <li>Multimídia</li>
          </ul>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title text-center">Campus Natal- Zona Norte</h2>
          <ul>
            <li>Comércio</li>
            <li>Eletrônica</li>
            <li>Informática para Internet</li>
          </ul>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title text-center">Campus Nova Cruz</h2>
          <ul>
            <li>Administração</li>
            <li>Química</li>
            <li>Informática</li>
          </ul>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title text-center">Campus Parelhas</h2>
          <ul>
            <li>Informática</li>
            <li>Mineração</li>
          </ul>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title text-center">Campus Parnamirim</h2>
          <ul>
            <li>Informatica</li>
            <li>Mecatrônica</li>
          </ul>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title text-center">Campus Pau dos Ferros</h2>
          <ul>
            <li>Alimentos</li>
            <li>Apicultura</li>
            <li>Informática</li>
          </ul>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title text-center">Campus Santa Cruz</h2>
          <ul>
            <li>Mecânica</li>
            <li>Informática</li>
            <li>Refrigeração e Climatização</li>
          </ul>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title text-center">Campus São Gonçalo do Amarante</h2>
          <ul>
            <li>Edificações</li>
            <li>Informática</li>
            <li>Logística</li>
          </ul>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title text-center">Campus São Paulo do Potengi</h2>
          <ul>
            <li>Edificações</li>
            <li>Meio Ambiente</li>
            <li>Informática para Internet</li>
          </ul>
        </div>
      </div>

</div>

<hr>