<div class="row">

                  <div class="col">
                    <div class="card border-dark card-disciplina" >
                        <div class="card-body">
                          <a href=".html"><p class="card-title">Redação</p></a>
                          <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                        </div>
                     </div>
                  </div>

                  <div class="col">
                    <div class="card border-dark card-disciplina" >
                        <div class="card-body">
                          <a href=".html"><p class="card-title">Redação</p></a>
                          <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                        </div>
                     </div>
                  </div>

                  <div class="col">
                    <div class="card border-dark card-disciplina" >
                        <div class="card-body">
                          <a href=".html"><p class="card-title">Redação</p></a>
                          <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                        </div>
                     </div>
                  </div>

                  <div class="col">
                    <div class="card border-dark card-disciplina" >
                        <div class="card-body">
                          <a href=".html"><p class="card-title">Redação</p></a>
                          <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                        </div>
                     </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col">
                    <div class="card border-dark card-disciplina" >
                        <div class="card-body">
                          <a href=".html"><p class="card-title">Redação</p></a>
                          <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                        </div>
                     </div>
                  </div>

                  <div class="col">
                    <div class="card border-dark card-disciplina" >
                        <div class="card-body">
                          <a href=".html"><p class="card-title">Redação</p></a>
                          <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                        </div>
                     </div>
                  </div>

                  <div class="col">
                    <div class="card border-dark card-disciplina" >
                        <div class="card-body">
                          <a href=".html"><p class="card-title">Redação</p></a>
                          <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                        </div>
                     </div>
                  </div>

                  <div class="col">
                    <div class="card border-dark card-disciplina" >
                        <div class="card-body">
                          <a href=".html"><p class="card-title">Redação</p></a>
                          <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                        </div>
                     </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col">
                    <div class="card border-dark card-disciplina" >
                        <div class="card-body">
                          <a href=".html"><p class="card-title">Redação</p></a>
                          <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                        </div>
                     </div>
                  </div>

                  <div class="col">
                    <div class="card border-dark card-disciplina" >
                        <div class="card-body">
                          <a href=".html"><p class="card-title">Redação</p></a>
                          <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                        </div>
                     </div>
                  </div>

                  <div class="col">
                    <div class="card border-dark card-disciplina" >
                        <div class="card-body">
                          <a href=".html"><p class="card-title">Redação</p></a>
                          <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                        </div>
                     </div>
                  </div>

                  <div class="col">
                    <div class="card border-dark card-disciplina" >
                        <div class="card-body">
                          <a href=".html"><p class="card-title">Redação</p></a>
                          <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                        </div>
                     </div>
                  </div>
                </div>
