

<nav>
	<div class="nav nav-tabs" id="nav-tab" role="tablist">

		<a routerLink="portugues/:id" class="nav-item nav-link active" id="nav-portugues-tab" data-toggle="tab" role="tab" aria-controls="nav-portugues" aria-selected="true">Português</a>

		<a routerLink="matematica/:id" class="nav-item nav-link" id="nav-matematica-tab" data-toggle="tab"  role="tab" aria-controls="nav-matematica" aria-selected="false">Matemática</a>

        <a routerLink="redacao/:id" class="nav-item nav-link" id="nav-redacao-tab" data-toggle="tab" role="tab" aria-controls="nav-redacao" aria-selected="false">Redação</a>

    </div>
</nav>



<div class="container">
	<router-outlet></router-outlet>
</div>



