.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #5fcf80;
  }
 #menu{
    display: block;
    position: relative;
    color: #37423b;
    transition: 0.3s;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
 }
 .container {
    font-family: "Poppins", sans-serif; 
 }

 div .card-disciplina{
   margin: 10px auto;
   width: 220px;
   height: 160px;
   position: relative;
   margin-bottom: 50px;
   text-align: center;
   
 } 
 
 div .card-disciplina img{
   width: 50px;
   height: 80px;
 
 }
 
 