
<br><br><br><br><br><br><br><br>
<nav classe="nav-menu d-none d-lg-block" id="menu">
	<div class="nav nav-tabs" id="nav-tab" role="tablist">

		<a (click)="AlterarListaMateria()" routerLink="portugues/:id" class="nav-item nav-link active" id="nav-portugues-tab" data-toggle="tab" role="tab" aria-controls="nav-portugues" aria-selected="true">Português</a>

		<a (click)="AlterarListaMateria()" routerLink="matematica/:id" class="nav-item nav-link" id="nav-matematica-tab" data-toggle="tab"  role="tab" aria-controls="nav-matematica" aria-selected="false">Matemática</a>

        <a (click)="AlterarListaMateria()" routerLink="redacao/:id" class="nav-item nav-link" id="nav-redacao-tab" data-toggle="tab" role="tab" aria-controls="nav-redacao" aria-selected="false">Redação</a>

    </div>
</nav>

<div *ngIf="this.mostrarListaPT" class="container">
	<app-portugues></app-portugues>
</div>


<div *ngIf="!this.mostrarListaPT" class="container ">
	<router-outlet></router-outlet>
</div>

<!-- Footer-->
<footer id="footer">

	<div class="footer-top">
	  <div class="container">
		<div class="row">
  <div class="container d-md-flex py-4">
  
	<div class="mr-md-auto text-center text-md-left">
	  <div class="copyright">
		&copy; Copyright <strong><span>IF STUDIES</span></strong>. All Rights Reserved
	  </div>
	 
	</div>
	<div class="social-links text-center text-md-right pt-3 pt-md-0">
	  
	  <a href="https://www.instagram.com/if.studies/" class="instagram"><i class="bx bxl-instagram"></i></a>
  
	</div>
  </div>
  </div>
	  </div>
	</div>
	
  </footer><!-- End Footer -->



