<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Processos Seletivos</h2>
       
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/events-1.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="https://portal.ifrn.edu.br/campus/reitoria/noticias/tire-suas-duvidas-sobre-o-programa-de-iniciacao-tecnologica-e-cidadania">PROITEC</a></h5>
                <p class="font-italic text-center">Programa de Iniciação Tecnológica e Cidadania</p>
                <p class="card-text"><b>1.      O ProITEC é a prova para entrar no IFRN?</b><br>

                    Não. O ProITEC é um curso voltado para reforçar a aprendizagem de alunos de escolas públicas e prepará-los para o processo seletivo que dá acesso aos cursos técnicos integrados ao ensino médio, o Exame de Seleção.
                    <br><br>
                    <b>2.       Se eu me inscrever no ProITEC, preciso assistir aulas no IFRN?</b> <br>
                   
                    Não. O ProITEC é um curso a distância. Depois de se inscrever e entregar os documentos, o estudante recebe um material contendo livros e DVDs com teleaulas, para estudar em casa.
                    <br>
                    <b>3.       Quem pode se inscrever?</b><br>
                    
                    Qualquer estudante que esteja ou já tenha terminado o 9º ano e que tenha feito todo o ensino fundamental em escola pública.
                    <br><br>
                   <b> 4.       Eu fiz o 3º ano em escola particular. Posso fazer o ProITEC?</b><br>
                    
                    Não. Precisa ter feito todos os anos do ensino fundamental em escola pública. Se tiver feito pelo menos 1 ano em escola privada, não poderá se inscrever.
                    <br><br>
                    <b>5.       Estou no 8º ano. Posso me inscrever por experiência?</b><br>
                    
                    Não. É obrigatório também estar no 9º ano ou já ter terminado o ensino fundamental.
                    <br><br>
                    <b>6.       Se eu estiver no 1º ano, posso me inscrever no ProITEC?</b><br>
                    
                    Se tiver feito todo o ensino fundamental em escola pública sim. Mas não esqueça: o ProITEC prepara para fazer o Exame de Seleção. Caso você se inscreva depois no Exame e seja aprovado (no Exame), vai voltar para o 1º ano, pois o processo seletivo é para os cursos técnicos integrados ao ensino médio.
                    <br><br>
                    <b>7.       Para fazer o ProITEC, preciso apenas pegar o material e estudar em casa?</b><br>
                    
                    Não. O Programa aplica uma prova, simulando a mesma estrutura do processo seletivo: horário para chegar e fechar os portões, tempo limite para fazer a prova e fiscais de sala. Assim, serve também como um ensaio, ou simulado, para o Exame de Seleção. Não há lista de classificação, já que não é o processo seletivo, mas o desempenho é publicado no site do processo seletivo e o estudante pode verificar quais os assuntos que vai precisar estudar mais.
                    <br><br>
                    <b>8.       Como faço para me inscrever no ProITEC?</b><br>
                    
                    Basta acessar http://processoseletivo.ifrn.edu.br. Se ainda não tiver cadastro, precisa se cadastrar, acessar o e-mail informado para confirmar o cadastro e aí sim, entrar no site com o login e a senha para se inscrever.
                    <br><br>
                    <b>9.       Depois disso, já estou inscrito no Programa?</b><br>
                    
                    Não. Para estar efetivamente inscrito, é necessário entregar os documentos exigidos pelo edital e pagar a taxa de inscrição.
                    <br><br>
                    <b>10.     Quais são os documentos?</b><br>
                    
                    Uma foto 3x4 recente;
                    Documento de identificação, em conformidade com o item 6, registrado no ato da inscrição (fotocópia e original);
                    Comprovante de pagamento da taxa de inscrição (fotocópia e original);
                    Certidão/declaração escolar que comprove a escolaridade (fotocópia e origina);
                    Histórico Escolar do Ensino Fundamental (fotocópia e original);<br><br>
                    <b>11.   Se o curso é oferecido a distância, pelo Campus EaD, por que na inscrição eu preciso escolher um Campus?</b><br>
                    
                    Porque é no Campus que você vai entregar a documentação para pegar o material de estudo.
                    <br><br>
                    <b>12.  O ProITEC tem taxa de inscrição?</b><br>
                    
                    Sim! A taxa de inscrição custa R$ 20 e tem que ser paga até o dia seguinte ao final das inscrições, em qualquer agência bancária ou nas casas lotéricas.
                    <br><br>
                      <b>13. Eu não tenho condições de pagar a inscrição. O que faço?</b><br>
                    
                    Se for inscrito no Cadastro Único do Governo Federal, basta solicitar a isenção do pagamento da taxa de inscrição. Mas precisa ficar atento para ver se a isenção foi aprovada, o que é publicado no site do IFRN. Se não for, tem que pagar.
                    <br><br>
                    <b>14.  O Portal do Candidato só serve para fazer a inscrição?</b><br>
                    
                    Não! Depois de se cadastrar, o estudante vai usar o Portal do Candidato para todos os passos do processo seletivo. Solicitar isenção da taxa de inscrição, imprimir boleto da taxa de inscrição, imprimir o cartão de inscrição, verificar o desempenho na prova e imprimir o certificado do ProITEC. Além disso, vai usar o mesmo login e senha para se inscrever em qualquer processo seletivo do IFRN dali para a frente.
                    <br><br>
                     <b>15. Se eu me inscrever no ProITEC, já estou inscrito no Exame de Seleção?</b><br>
                    
                    Não! O aluno do ProITEC precisa ficar atento à publicação do edital do Exame de Seleção. No período de inscrição, precisa se inscrever novamente.
                    <br><br>
                    <b>16. Vou precisar pagar a taxa de inscrição de novo?</b><br>
                    
                    Não. Depois que teve a inscrição confirmada no ProITEC, o sistema vai relacionar o CPF e o aluno do ProITEC não vai precisar pagar a taxa de inscrição do Exame de Seleção.
                    <br><br>
                      <b>17. Quando eu for me inscrever no Exame de Seleção, posso mudar o Campus que escolhi na inscrição do ProITEC?</b><br>
                    
                    Pode sim! Como você ainda não sabe quais cursos vão ser oferecidos, ao se inscrever no Exame poderá mudar o Campus que escolheu na inscrição do ProITEC.
                    <br><br>
                    <b> 18.  Ter feito o ProITEC me dá alguma vantagem para o Exame de Seleção?</b><br>
                    
                    O reforço da aprendizagem. Os livros são elaborados por professores do IFRN focando todo o conteúdo do Exame de Seleção. Por isso é uma preparação muito boa para o processo seletivo.</p>
                    <br><br>
                </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/events-2.jpg" alt="...">
               
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fbit.ly%2F2wyxhur%3Ffbclid%3DIwAR1pBhAm2tsTJ9DlVEO2pSBSYKM1W2LC-badQWZf1TuJGhkArZIWuwSKQv8&h=AT3zptqfCBMAkwgpzWlPB-JqU8Wb7cacF_c4oIhzOhpLVXzjo51JR_QhNYf2HnZeVlgcWhVu5H9YMLSgRgWP0olucPlIK2HxqyFmJ1r1Wzar2-5ASMvzPi6A4elQDNhRRF32&__tn__=-UK*F&c[0]=AT2wIu4rhR7uuoKKfEzZgD5Enx2g6yV3VQCQ98iZq7flPfGJ2B1JoqI4aT_sVLP7EqXq3ClrWqONGK5hAYKTQD4No_PK0szXAhpIJcIBzg-6rocC5dFHq4Stll8zRs70XuUGfRtOuSbQmELbPa9YohttaJq2xpr6kMkDvQ_lTOfSz1w">Exame de Seleção</a></h5>
                <p class="font-italic text-center">Exame de Seleção para ingressor no Instituto Federal</p>
                <p class="card-text"> <b> 1. Quem pode participar do Exame de Seleção?</b> <br>
                    O aluno que está concluindo (9º ano) ou já concluiu o Ensino Fundamental.
                    <br><br>
                    <b>2. Qual o valor da taxa? Até quando posso pagar?</b><br>
                    A taxa de inscrição é de R$ 30,00. O boleto pode ser pago até o dia 29/08/2017.
                    <br><br>
                   <b> 3. Paguei a taxa de inscrição, mas o sistema não reconheceu. E agora?</b><br>
                    A confirmação do pagamento da inscrição acontece em, no máximo, 48 horas. Se você não visualizar pelo Portal do Candidato dentro desse prazo, pode enviar cópias do boleto bancário e do comprovante de pagamento para o e-mail processoseletivo@ifrn.edu.br.
                    <br><br>
                   <b> 4. Esqueci a senha do portal do candidato. E agora?</b><br>
                    Na página inicial do Portal do Candidato é possível selecionar Esqueceu a sua senha. Ao selecionar essa opção, será enviado um link para registro de uma nova senha para o e-mail cadastrado pelo candidato.
                    <br><br>
                    <b>5. Coloquei errado algum dado pessoal, como faço para corrigir?</b><br>
                    Acessando o campo Dados Pessoais, você deve selecionar, no canto superior direito da página, o botão Editar Candidato.
                    <br><br>
                   <b> 6. Fiz meu cadastro, mas não consigo mais acessar o e-mail de registro. O que devo fazer?</b><br>
                    Para corrigir o seu e-mail cadastrado, o candidato deve entrar no Portal, acessar o campo Dados Pessoais e selecionar, no canto superior direito da página, o botão Editar Candidato.
                    <br><br>
                    <b>7. Fiz minha inscrição, mas quero mudar de curso. Posso?</b><br>
                    Para fazer mudança de curso é necessário fazer uma nova inscrição no Exame de Seleção, cancelando a inscrição anterior. O prazo para inscrições vai até a segunda, 28 de agosto de 2017.
                    <br><br>  
                    <img src="https://media4.giphy.com/media/kw5O9anp3AnhUB5ili/source.gif" alt="Boa sorte, futuro(a) federal!">
                     

                    <br> <br>
                    
                </p>
                <img src="https://media0.giphy.com/media/26FPqAHtgCBzKG9mo/giphy.gif" alt="Boa sorte, futuro(a) federal!">   
              </div>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Events Section -->

  </main><!-- End #main -->


  <!-- Footer-->
<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">
  <div class="container d-md-flex py-4">
  
    <div class="mr-md-auto text-center text-md-left">
      <div class="copyright">
        &copy; Copyright <strong><span>IF STUDIES</span></strong>. All Rights Reserved
      </div>
     
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
  
    </div>
  </div>
  </div>
      </div>
    </div>
    
  </footer><!-- End Footer -->