<div class="container">

  <div class="row">
    <div class="col-sm animate__animated animate__fadeInRight">
      <h1>O que é o IFRN?</h1>
      <p class="linha-horizontal"></p>
      <p class="animate__animated animate__zoomIn">O Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte (IFRN) é uma instituição que oferece educação básica, profissional e superior, de forma "pluricurricular". É uma instituição multicampi, especializada na oferta de educação profissional e tecnológica nas diferentes modalidades de ensino, com base na conjugação de conhecimentos técnicos e tecnológicos às suas práticas pedagógicas.
      Ou seja, para você ser humaninho que está no seu ensino fundamental, você pode fazer o ensino médio em um instituto federal com uma das melhores educações do país e sair do seu ensino médio com um técnico profissionalizante como, por exemplo, informática.</p>
    </div>


    <div class="col-sm"></div>

  </div> 



  <div class="row">

    <div class="col-sm">
      
    </div>

    <div class="col-sm animate__animated animate__fadeInLeft">
      <h1>Qual benefício em fazer o ensino médio aqui?</h1>
      <p class="linha-horizontal"></p>
      <p class="animate__animated animate__zoomIn">O mais incrível em cursar o seu ensino médio no IF é que você vai sair de lá com um curso técnico no seu currículo, o que com certeza pesa bastante para alcançar uma vaga no mercado de trabalho.
      Outro fator importante é que pelo fato do IF ser uma instituição federal (Pública), os seus alunos participam junto da concorrência cotista de escolas públicas ao ingressar na faculdade.</p>
    </div>
  </div>          




  <div class="row">

    <div class="col-sm animate__animated animate__fadeInRight">
      <h1>Como faço para entrar se estudo em escola pública?</h1>
      <p class="linha-horizontal"></p>
      <p class="animate__animated animate__zoomIn">Você faz o ProITEC (Programa de Iniciação Tecnológica e Cidadania) que é um curso na modalidade a distância voltado para alunos do 9º ano da rede pública de ensino. O programa prepara os estudantes por meio de livros e teleaulas para o ingresso no ensino técnico integrado ministrado pelo IFRN.Resumindo, caso você tenha cursado todo o seu ensino fundamental em escola pública, você tem direito ao ProITEC, que é basicamente um curso para que você se prepare para o exame de seleção do IF. Caso você faça, ficará não vai precisar pagar a taxa de inscrição para o exame de seleção.</p>
    </div>


    <div class="col-sm">
      
    </div>

  </div> 



  <div class="row">

    <div class="col-sm">
      
    </div>

    <div class="col-sm animate__animated animate__fadeInLeft">
      <h1>Como faço para entrar se estudo em escola particular?</h1>
      <p class="linha-horizontal"></p>
      <p class="animate__animated animate__zoomIn">Você faz o Exame de Seleção, que é o processo seletivo voltado para alunos que estão concluindo ou já concluíram o 9º ano do ensino fundamental. Diz respeito às Vagas Gerais dos Cursos Técnicos de Nível Médio na Forma Integrada. Os alunos aprovados vão cursar o ensino médio integrado ao técnico-profissionalizante do IFRN.Em resumo, se você cursou seu ensino fundamental ou parte dele em escola paticular, você apenas fará o exame de seleção no final do ano. Tendo que pagar uma taxa de inscrição.</p>
    </div>

  </div> 



  <div class="row">

    <div class="col-sm animate__animated animate__fadeInRight">
      <h1>Como é a prova?</h1>
      <p class="linha-horizontal"></p>
      <p class="animate__animated animate__zoomIn">A prova possui uma redação e 40 questões, sendo 20 de português e 20 de matemática.</p>
    </div>

    <div class="col-sm">
      
    </div>

  </div>



  <div class="row">

    <div class="col-sm">
      
    </div>

    <div class="col-sm animate__animated animate__fadeInLeft">
      <h1>E Depois da prova?</h1>
      <p class="linha-horizontal"></p>
      <p class="animate__animated animate__zoomIn">Todos os resultados serão acessados pelo portal do participante, lá você poderá ficar de olho quando sua nota for lançada. É importante ler o edital correspondente do ano em que você quer ingressar, pois lá há mais detalhes de todo o processo e datas de divigulgação de gabarito e resultado final.</p>
    </div>

  </div>

</div>

<hr>