<div class="row">

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Conjuntos Numéricos</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Números Primos</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Números Naturais</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Números Inteiros</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>
              </div>

              <div class="row">

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Números Racionais</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Números Irracionais</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Números Reais</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Números Binário</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>
              </div>

              <div class="row">

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Operações com Números</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Regras de Divisibilidade</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Múltiplos e Divisores</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">MMC e MDC</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>
              </div>

              <div class="row">

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Expressões Numérica</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Frações</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Algarismos Romanos</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Unidade de Medidas</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>
              </div>

              <div class="row">

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Razão</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Razões Especiais</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Juros Simples</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Proporção</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>
              </div>

              <div class="row">

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Grandezas Diretamente Proporcionais</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Grandezas Inversamente Proporcionais</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Regra de Três Simples</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Regra de Três Composta</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>
              </div>

              <div class="row">

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Divisão Proporcional Direta</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>

                <div class="col">
                  <div class="card border-dark card-disciplina" >
                      <div class="card-body">
                        <a href=".html"><p class="card-title">Divisão Proporcional Inversamente</p></a>
                        <img src="https://image.flaticon.com/icons/svg/926/926358.svg">
                      </div>
                   </div>
                </div>

              </div>

