

<div class="row animate__animated animate__fadeInUp">

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/ConjuntosNumericos.html')">
      
        <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Conjuntos Numéricos</p>
            <img [src]="Icone">
          </div>
       </div>

    </div>
  </div>


  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/NumerosPrimos.html')">
      
        <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Números Primos</p>
            <img [src]="Icone">
          </div>
       </div>

    </div>
  </div>


  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/NumerosNaturais.html')">
      
        <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Números Naturais</p>
            <img [src]="Icone">
          </div>
       </div>

    </div>
  </div>
  

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/NumerosInteiros.html')">
      
        <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Números Inteiros</p>
            <img [src]="Icone">
          </div>
       </div>

    </div>
  </div>

</div>


<div class="row animate__animated animate__fadeInUp">

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/NumerosRacionais.html')">

      <div class="card border-dark card-disciplina" >
        <div class="card-body">
          <p class="card-title">Números Racionais</p>
          <img [src]="Icone">
        </div>
      </div>

    </div>
  </div>

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/NumerosIrracionais.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Números Irracionais</p>
            <img [src]="Icone">
          </div>
       </div>

    </div>
  </div>

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/NumerosReais.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Números Reais</p>
            <img [src]="Icone">
          </div>
       </div>

    </div>   
  </div>

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/NumerosBinario.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Números Binário</p>
            <img [src]="Icone">
          </div>
       </div>

    </div>
  </div>

</div>

<div class="row animate__animated animate__fadeInUp">

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/OperacoesNumeros.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Operações com Números</p>
            <img [src]="Icone">
          </div>
      </div>

    </div>
  </div>

  <div class="col ">
    <div (click)="obterArquivo('assets/html/matematica/RegrasDivisibilidade.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Regras de Divisibilidade</p>
            <img [src]="Icone">
          </div>
       </div>

    </div>
  </div>

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/MultiplosDivisores.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Múltiplos e Divisores</p>
            <img [src]="Icone">
          </div>
      </div>

    </div>
  </div>

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/MMCMDC.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">MMC e MDC</p>
            <img [src]="Icone">
          </div>
       </div>
    </div>
  </div>

</div>


<div class="row animate__animated animate__fadeInUp">

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/ExpressoesNumerica.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Expressões Numéricas</p>
            <img [src]="Icone">
          </div>
      </div>

   </div>
  </div>

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/Fracoes.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Frações</p>
            <img [src]="Icone">
          </div>
      </div>

   </div>
  </div>

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/AlgarismosRomanos.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Algarismos Romanos</p>
            <img [src]="Icone">
          </div>
      </div>

   </div>
  </div>

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/UnidadeMedidas.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Unidade de Medidas</p>
            <img [src]="Icone">
          </div>
      </div>

   </div>
  </div>
</div>


<div class="row animate__animated animate__fadeInUp">

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/Razao.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Razão</p>
            <img [src]="Icone">
          </div>
      </div>
      
    </div>
  </div>

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/RazoesEspeciais.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Razões Especiais</p>
            <img [src]="Icone">
          </div>
      </div>

    </div>
  </div>

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/JurosSimples.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Juros Simples</p>
            <img [src]="Icone">
          </div>
      </div>

    </div>
  </div>

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/Proporcao.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Proporção</p>
            <img [src]="Icone">
          </div>
      </div>

    </div>
  </div>
</div>


<div class="row animate__animated animate__fadeInUp">

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/GrandezasDiretamenteProporcionais.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Grandezas Diretamente Proporcionais</p>
            <img [src]="Icone">
          </div>
      </div>
      
    </div>
  </div>

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/GrandezasInversamenteProporcionais.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Grandezas Inversamente Proporcionais</p>
            <img [src]="Icone">
          </div>
      </div>

    </div>
  </div>

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/RegraTresSimples.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Regra de Três Simples</p>
            <img [src]="Icone">
          </div>
      </div>

    </div>
  </div>

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/RegraTresComposta.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Regra de Três Composta</p>
            <img [src]="Icone">
          </div>
      </div>

    </div>
  </div>
</div>


<div class="row animate__animated animate__fadeInUp">

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/DivisaoProporcionalDiretamente.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Divisão Proporcional Diretamente</p>
            <img [src]="Icone">
          </div>
      </div>
      
    </div>
  </div>

  <div class="col">
    <div (click)="obterArquivo('assets/html/matematica/DivisaoProporcionalInversamente.html')">

      <div class="card border-dark card-disciplina" >
          <div class="card-body">
            <p class="card-title">Divisão Proporcional Inversamente</p>
            <img [src]="Icone">
          </div>
      </div>

    </div>
  </div>

  <div class="col">
    
  </div>

  <div class="col">
    
  </div>
</div>


<div [innerHTML]="paginaCarregada"></div>




