<br><br> <br> <br> <br> <br>

<h1 class="text-center">
	Simulados dos Exames de Seleção do IFRN
</h1>

<div class="container">

		<div class="col">
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSe6gA6uFy2MxtlvPa10LfS8_k9m1Fg2lMXazz-IO0FrndcPdA/viewform?usp=sf_link" target="_blank"><h4>Simulado Exame de Seleção 2011</h4></a>
			<p class="linha-horizontal"></p>			
		</div>

		<div class="col">
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSf_gBSEieARU8XBYfM-9yqmWYd20cgV8hqKfCdf7TWy2REu0w/viewform?usp=sf_link" target="_blank"><h4>Simulado Exame de Seleção 2012</h4></a>
			<p class="linha-horizontal"></p>			
		</div>

		<div class="col">
			<a href="https://docs.google.com/forms/d/e/1FAIpQLScJf_AMoa6kwQeARXf6O010aCWOtMzFnhe_RAAKMv8_R6ZgPQ/viewform?usp=sf_link" target="_blank"><h4>Simulado Exame de Seleção 2013</h4></a>
			<p class="linha-horizontal"></p>			
		</div>

		<div class="col">
			<a href="https://docs.google.com/forms/d/e/1FAIpQLScsQuBIn6u54-G0ybiLhGRqEkeGP6p5kjENuQAiyTQSGw_25Q/viewform?usp=sf_link" target="_blank"><h4>Simulado Exame de Seleção 2014</h4></a>
			<p class="linha-horizontal"></p>			
		</div>

		<div class="col">
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSemYRWuhoXfzbQ46_n8-mru_jtu11QdSpUu-FZnNlPKl51M7A/viewform?usp=sf_link" target="_blank"><h4>Simulado Exame de Seleção 2015</h4></a>
			<p class="linha-horizontal"></p>			
		</div>

		<div class="col">
			<a href="https://docs.google.com/forms/d/e/1FAIpQLScLx5CBkzyh4JbLsTI6yWXEWGAe0_4Z35LmpKeboduJFhALMA/viewform?usp=sf_link" target="_blank"><h4>Simulado Exame de Seleção 2016</h4></a>
			<p class="linha-horizontal"></p>			
		</div>

		<div class="col">
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSesdlA3b5KX2W-p68AaFgiYbzs9NJAu-G9orFqB37VvWcwS3g/viewform?usp=sf_link" target="_blank"><h4>Simulado Exame de Seleção 2017</h4></a>
			<p class="linha-horizontal"></p>			
		</div>

		<div class="col">
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSdVPuxZO8LuQRFxOALQcDkwxgf0myWObcqdhLpi0r4_49gJaw/viewform?usp=sf_link" target="_blank"><h4>Simulado Exame de Seleção 2018</h4></a>
			<p class="linha-horizontal"></p>			
		</div>

		<div class="col">
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSdA_GM5dCl5GqdtjNYux2-2walI-IxCb2h40batoZHE3xPxTg/viewform?embedded=true" target="_blank"><h4>Simulado Exame de Seleção 2019</h4></a>
			<p class="linha-horizontal"></p>			
		</div>

</div>

	  