/* You can add global styles to this file, and also import other style files */
.assunto{
  position: relative;
  margin: auto; 
  margin-bottom: 50px;
  
}

.assunto img{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 30px;
}

.assunto h1{
  margin-bottom: 30px;
}

.assunto h3, h5{
  margin-top: 30px;
}

.espaco-texto p{
  margin-bottom: 20px;
  margin-top: 20px;
}