<br><br><br><br><br>

<h1 class="text-center">
	Português
</h1> 

<div *ngIf="this.mostrarQuestoesDisciplina">
	<ul>
		<li (click)="QuestoesPortugues1(1,1)">
			InterpretacaoTextual
		</li>

		
	</ul>
</div>
 

<div *ngIf="!this.mostrarQuestoesDisciplina">
	<a (click)="RetornarListaDisciplina()">Voltar Para Lista de Materias</a>
	
	<div class="container" *ngFor="let q of questoes; let i = index">

		<div class="row"> 
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td>
							<p>{{q.texto}}</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row" >
			<div class="col" >
				<ul class="list-group">

					<label>

						<li class="list-group-item" [class.certa]="alternativa_a.value === q.alternativa_correta && alternativa_a.checked" [class.errada]="alternativa_a.value !== q.alternativa_correta && alternativa_a.checked">
			                <input type="radio" name="q{{i+1}}" value="a" #alternativa_a (click)="verificarResposta(q.alternativa_correta, 'a')">
			                {{q.alternativa_a}}

			                <div *ngIf="alternativa_a.value === q.alternativa_correta && alternativa_a.checked">
					
							</div>

							<div *ngIf="alternativa_a.value !== q.alternativa_correta && alternativa_a.checked">
								<div class="card border border-danger" id="resposta-errada" style="width: 18rem;">
								  <div class="card-body">
								   <p>Ops! Resposta errada.</p>
								   <p>A resposta certa é a letra <b>{{q.alternativa_correta}}</b>.</p>
								  </div>
								</div>
							</div>


			            </li>
			        </label>
			        

	  				<label>
	  					<li class="list-group-item" [class.certa]="alternativa_b.value === q.alternativa_correta && alternativa_b.checked" [class.errada]="alternativa_b.value !== q.alternativa_correta && alternativa_b.checked">
	                        <input type="radio" name="q{{i+1}}" value="b" #alternativa_b (click)="verificarResposta(q.alternativa_correta, 'b')">

	                        {{q.alternativa_b}}

	                        <div *ngIf="alternativa_b.value === q.alternativa_correta && alternativa_b.checked">
					
							</div>

							<div *ngIf="alternativa_b.value !== q.alternativa_correta && alternativa_b.checked">
								<div class="card border border-danger" id="resposta-errada" style="width: 18rem;">
								  <div class="card-body">
								   <p>Ops! Resposta errada.</p>
								   <p>A resposta certa é a letra <b>{{q.alternativa_correta}}</b>.</p>
								  </div>
								</div>
							</div>

	                    </li>
	                </label>


	  				<label>
	  					<li class="list-group-item" [class.certa]="alternativa_c.value === q.alternativa_correta && alternativa_c.checked" [class.errada]="alternativa_c.value !== q.alternativa_correta && alternativa_c.checked">
	                        <input type="radio" name="q{{i+1}}" value="c" #alternativa_c (click)="verificarResposta(q.alternativa_correta, 'c')">
	                        {{q.alternativa_c}}

	                        <div *ngIf="alternativa_c.value === q.alternativa_correta && alternativa_c.checked">
					
							</div>

							<div *ngIf="alternativa_c.value !== q.alternativa_correta && alternativa_c.checked">
								<div class="card border border-danger" id="resposta-errada" style="width: 18rem;">
								  <div class="card-body">
								   <p>Ops! Resposta errada.</p>
								   <p>A resposta certa é a letra <b>{{q.alternativa_correta}}</b>.</p>
								  </div>
								</div>
							</div>
							
	                    </li>
	                </label>


	  				<label>
	  					<li class="list-group-item" [class.certa]="alternativa_d.value === q.alternativa_correta && alternativa_d.checked" [class.errada]="alternativa_d.value !== q.alternativa_correta && alternativa_d.checked">
	                        <input type="radio" name="q{{i+1}}" value="d" #alternativa_d (click)="verificarResposta(q.alternativa_correta, 'd')">
	                        {{q.alternativa_d}}

	                        <div *ngIf="alternativa_d.value === q.alternativa_correta && alternativa_d.checked">
					
							</div>

							<div *ngIf="alternativa_d.value !== q.alternativa_correta && alternativa_d.checked">
								<div class="card border border-danger" id="resposta-errada" style="width: 18rem;">
								  <div class="card-body">
								   <p>Ops! Resposta errada.</p>
								   <p>A resposta certa é a letra <b>{{q.alternativa_correta}}</b>.</p>
								  </div>
								</div>
							</div>
							
	                    </li>
	                </label>

				</ul>

				
			</div>
		</div>
	 
	</div>

</div>