<h1 class="text-center">
	Exercícios
</h1>


<div class="container">

	<div class="row">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>
						<p>Enunciado</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="row">
		<div class="col">
			<ul class="list-group">
  				<li class="list-group-item"><p><input type="radio"> a)</p></li>
  				<li class="list-group-item"><p><input type="radio"> b)</p></li>
  				<li class="list-group-item"><p><input type="radio"> c)</p></li>
  				<li class="list-group-item"><p><input type="radio"> d)</p></li>
			</ul>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col text-right">
			<button class="btn btn-primary">Enviar Resposta</button>
		</div>
	</div>

</div>