<div class="container">
    
        <div class="row">
          <div class="col-sm texto">
            <h4>Qual o objetivo deste curso ?</h4>
              <p>Ajudar você, aluno que quer ingressar no IFRN, disponibilizando gratuitamente conteúdo de português, matemática e redação para você mandar bem no exame. Além de todo o banco de questões e provas antigas. Este curso foi desenvolvido por próprias alunas do IF, pois queremos te ajudar a também alcançar o que alcançamos. Conte conosco para essa jornada. Para mais dúvidas acesse <b>ifstudies20@gmail</b>.</p> 
          

            <div class="row atalho">

              <div class="col-sm border border-dark bolinha shadow">
                  <a routerLink="/cursos">
                    <img class="card_bolinha" [src]="IconeCursos">
                    <p><b>Cursos do IF</b></p>
                </a>
              </div>

              <div class="col-sm border border-dark bolinha shadow">
                  <a routerLink="/estrategia">
                    <img class="card_bolinha" [src]="IconeEstudo" /> 
                    <p><b>Estrategia de Estudos</b></p>
                  </a> 
              </div>
            </div>

          </div>

          <div class="col-sm">
            <div class="row">
              <div class="col-sm">
                <img class="img-fluid" [src]="imageMenina" />
              </div>
            </div>
          </div>

          </div>

        

    </div>

<router-outlet></router-outlet>